<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="seo">
                <field id="filtered_product_list_robots_value" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Filtered Product List Robots Value</label>
                    <source_model>Magento\Config\Model\Config\Source\Design\Robots</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
